/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    margin-top: 15px;
    width: 100%;
    color: $white;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
    &[type='submit']:hover{
      color: $white;
    background-color:$complement ;
    }
  }
    .default {
    background-color: $color-tertiary;
    &:hover {
      @include button-hover; 
    }
  }
    .error {
    background-color: #e4757a;
    &:hover {
      @include button-hover;
    }
  }
    .info {
    background-color: #927bc1;
    &:hover {
      @include button-hover;
    }
  }
    .success {
    background-color: #63cc82;
    &:hover {
      @include button-hover;
    }
  }
    .warning {
    background-color: #fd7856;
    &:hover {
      @include button-hover;
    }
  }
  